@model donacionesWeb.Models.Asignacione

@{
	ViewData["Title"] = "Detalles de Asignación";
}

<h1>Detalles de Asignación</h1>

<div>
	<dl class="row">
		<dt class="col-sm-2">ID:</dt>
		<dd class="col-sm-10">@Model.AsignacionId</dd>
        
		<dt class="col-sm-2">Campaña ID:</dt>
		<dd class="col-sm-10">@Model.CampaniaId</dd>
        
		<dt class="col-sm-2">Descripción:</dt>
		<dd class="col-sm-10">@Model.Descripcion</dd>
        
		<dt class="col-sm-2">Monto:</dt>
		<dd class="col-sm-10">@Model.Monto</dd>
        
		<dt class="col-sm-2">Fecha:</dt>
		<dd class="col-sm-10">@Model.FechaAsignacion</dd>
        
		<dt class="col-sm-2">Usuario ID:</dt>
		<dd class="col-sm-10">@Model.UsuarioId</dd>
        
		<dt class="col-sm-2">Comprobante:</dt>
		<dd class="col-sm-10">@Model.Comprobante</dd>
	</dl>
</div>

<div>
	<a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
</div>