@model donacionesWeb.Models.Campania

@{
	ViewData["Title"] = "Detalles de Campaña";
}

<h1>Detalles de Campaña</h1>

<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Titulo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Titulo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Descripcion)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Descripcion)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FechaInicio)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FechaInicio)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FechaFin)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FechaFin)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.MetaRecaudacion)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.MetaRecaudacion)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.MontoRecaudado)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.MontoRecaudado)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Activa)
		</dt>
		<dd class="col-sm-10">
			@(Model.Activa.HasValue && Model.Activa.Value ? "Activa" : "Inactiva")
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
</div>