@model IEnumerable<donacionesWeb.Models.Campania>

@{
	ViewData["Title"] = "Campañas";
}

<h1>Campañas</h1>

<p>
	<a asp-action="Create" class="btn btn-primary">Crear Nueva Campaña</a>
</p>
<table class="table">
	<thead>
	<tr>
		<th>Título</th>
		<th>Meta de Recaudación</th>
		<th>Monto Recaudado</th>
		<th>Fecha Inicio</th>
		<th>Fecha Fin</th>
		<th>Estado</th>
		<th>Acciones</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>@Html.DisplayFor(modelItem => item.Titulo)</td>
			<td>@Html.DisplayFor(modelItem => item.MetaRecaudacion)</td>
			<td>@Html.DisplayFor(modelItem => item.MontoRecaudado)</td>
			<td>@Html.DisplayFor(modelItem => item.FechaInicio)</td>
			<td>@Html.DisplayFor(modelItem => item.FechaFin)</td>
			<td>@(item.Activa.HasValue && item.Activa.Value ? "Activa" : "Inactiva")</td>
			<td>
				<a asp-action="Details" asp-route-id="@item.CampaniaId" class="btn btn-info">Detalles</a>
				<a asp-action="Delete" asp-route-id="@item.CampaniaId" class="btn btn-danger">Eliminar</a>
			</td>
		</tr>
	}
	</tbody>
</table>